html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bolder;
    /* font-family: "GothamPro-Black", sans-serif; */
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

a {
    color: inherit;
    cursor: pointer;
    /* background-color: transparent; */
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    resize: vertical;
    overflow: auto;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

/*STYLE RESET START*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #fff;
    font: normal 14px "TT Limes Sans", sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    color: #CD1722;
    text-decoration: none;
}

img {
    max-width: 100%;
}

textarea {
    width: 100%;
    resize: vertical;
    border: none;
    outline: none;
    border-radius: 0;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

button {
    cursor: pointer;
}









@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.eot');
    src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Bold.woff2') format('woff2'),
        url('../fonts/Geometria-Bold.woff') format('woff'),
        url('../fonts/Geometria-Bold.ttf') format('truetype'),
        url('../fonts/Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Regular.eot');
    src: url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Regular.woff2') format('woff2'),
        url('../fonts/Geometria-Regular.woff') format('woff'),
        url('../fonts/Geometria-Regular.ttf') format('truetype'),
        url('../fonts/Geometria-Regular.svg#Geometria-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H Base';
    src: url('../fonts/IntroHeadH-Base.eot');
    src: url('../fonts/IntroHeadH-Base.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IntroHeadH-Base.woff2') format('woff2'),
        url('../fonts/IntroHeadH-Base.woff') format('woff'),
        url('../fonts/IntroHeadH-Base.ttf') format('truetype'),
        url('../fonts/IntroHeadH-Base.svg#IntroHeadH-Base') format('svg');
    font-weight: normal;
    font-style: normal;
}





/* .container {
    max-width: 1200px;
    padding: 0 15px;
}

@media (max-width: 1260px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 345px;
    }
} */





body {
    font-family: 'Geometria';
}

.container {
    max-width: calc(1200px + 30px);
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* intro */

.intro {
    background: url(../img/intro-bg.png) center no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.intro__logo {
    position: absolute;
    top: 34px;
}

.intro__text {
    font-family: 'Geometria';
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: 540px;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    max-height: 100px;
}

.btn {
    min-width: 200px;
    font-family: 'Geometria';
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 10px;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
}

.intro__btn {
    position: absolute;
    top: 614px;
    border: 1px solid #FFFFFF;
    top: 75%;
    color: #fff;
}

.intro__btn:hover {
    color: #CD1722;
    background: white;
}


/* intro resposive */

@media (max-width: 1000px) {

    .intro {
        background-image: url('../img/intro-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: 1187px 667px; */
    }

    .intro__text {
        padding: 15px;
        top: -50px;
    }
}

/* home page */

.header {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1430px;
    width: 100%;
    margin: auto;
    padding-top: 36px;
    padding-bottom: 50px;
    overflow: hidden;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 206px;
}



.socials__ul {
    display: flex;
}

.socials__li {
    margin-right: 12px;
    display: flex;
}

.socials__link {
    position: relative;
    width: 46px;
    height: 46px;
    display: block;
    border: 2px solid #D30707;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center;
    /* background: #D30707; */
}

.socials__link:hover{
    background: #D30707;
    /* background: #FFD74B; */
    /* border-color: #FFD74B; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
}

.socials__link:hover img {
    display: none;
}

.socials_vk:hover{
    background-image: url(../img/vk-f.svg);   
    background-size: 24px;
}

.socials_ok:hover {
    background-image: url(../img/ok-f.svg);
    background-size: 29px;
}

.socials_footer .socials_vk:hover {
    background-color: white;
    background-image: url(../img/vk.svg);
    background-size: 26px;
}

.socials_footer .socials_ok:hover {
    background-color: white;
    background-image: url(../img/ok.svg);
    background-size: 23px;
}

.socials__link img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}



.burger {
    width: 24px;
    height: 52px;
    position: relative;
    transition: all .3s
}

.burger.active {
    transform: rotate(90deg);
    transition: all .3s
}

.burger span {
    position: absolute;
    background-color: #DA3832;
}

.burger__top,
.burger__bot {
    height: 30px;
    width: 4px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100px;
}

.burger__mid {
    height: 100%;
    width: 4px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100px;
}

.burger__top {
    left: 0;
}

.burger__bot {
    right: 0;
}


.main-slider-init .slide {
    position: relative;
}

.main-slider-init .slick-dots {
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 22px;

}

.main-slider-init .slick-dots button {
    font-size: 0;
    width: 80px;
    height: 8px;
    background: rgba(255, 255, 255, 0.3);
}

.main-slider-init .slick-dots .slick-active button {
    background: #fff;
}

.main-slide {
    display: flex;
    position: relative;
    width: 100%;
    height: 428px;
}

.main-slide__left {
    width: 50%;
    background: url('../img/shapes_pattern/pattern_banner_bg_desktop.svg');
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    padding-top: 56px;
    padding-bottom: 60px;
    padding-right: 40px;
}

.main-slide__right {
    width: 50%;
    overflow: hidden;
}

.main-slide__right img {
    transform: scale(1.4)
}

.ttl {
    font-family: 'Intro Head H Base';
    font-size: 32px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    color: #D30707;
    text-transform: uppercase;
}

.grid-actrile__text-a6{
    margin-top: 48px;
    font-size: 26px;
    line-height: 33px;
    color: #fff;
}

.main-slide__title {
    font-family: 'Intro Head H Base';
    font-size: 78px;
    line-height: 84px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.main-slide__desc {
    font-size: 21px;
    max-width: 460px;
    margin-bottom: 30px;
}

.btn-yellow {
    background: #FFD74B;
    color: #CD1722;
}

.btn-yellow:hover {
    background: #FFD74B;
    color: #CD1722;
}

.grid {
    padding-top: 48px;
    margin-bottom: 0px;
}

.grid-menu {
    font-family: 'Geometria';
    font-size: 16px;
    line-height: 20px;
    color: #CD1722;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.grid-menu a {
    color: #CD1722;
}

.grid-menu__ul {
    display: flex;
    justify-content: center;
}

.grid-menu__ul li {
    margin-left: 104px;
}

.grid-menu__ul li:first-child {
    margin-left: 0;
}

.grid-actrilces {}

.grid-actrile {
    margin-bottom: 40px;
    margin-right: 60px;
}

.grid-actrile:hover .grid-actrile__desc {
    text-decoration: underline;
    transition: .3s all;
}

.grid-actrile img{
    transition: .3s all;
}

.grid-actrile:hover img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

*{
    outline: none;
}

.grid-actrile__desc {
    margin-top: 22px;
    padding-left: 24px;
    font-size: 22px;
    line-height: 30px;
    color: #CD1722;
    max-width: 350px;
}

.a2 .grid-actrile__desc {
    /* max-width: 520px; */
    max-width: 100%;
}

.grid-actrilces__row {
    display: flex;

}

.a1 {
    width: 366px;
    height: 506px;
}

.a2 {
    margin-right: 0;
}

.a6 {
        background: url(../img/shapes_pattern/a6.png) no-repeat;
        margin-right: 0;
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: contain;
}

.grid-actrile__text {
    text-transform: uppercase;
    font-size: 46px;
    line-height: 59px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

    font-family: 'Intro Head H Base';
    font-style: normal;
    font-weight: normal;
}

.grid-actrile__text span {
    color: #FFD74B;
}

.grid-actrile__btn {
    margin-top: 100px;
}


.grid_actrilces_col_fix,
.a6 {
    position: relative;
    top: -98px;
}


.product-slider {
    margin-bottom: 142px;
}

.product_slider_fix {}

.product-slider-init {
    border: 2px solid #CD1722;
    border-top: none;
    border-bottom: none;
    position: relative;
}

.product-slider-init .slide__inner {
    height: 156px;
    position: relative;
    max-width: 230px;
}

.product-slider-init .slide__inner img {
    padding: 16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    min-height: 400px;
    flex: 1;
}


.footer {
    background: url('../img/shapes_pattern/footer_bg_desktop.svg') center no-repeat;
    background-size: cover;
    padding-top: 88px;
    padding-bottom: 32px;
    position: relative;
}

.footer-bot-left{
    display: flex;
    align-items: flex-end;
}

.footer-bot-left > div{
    margin-right: 15px;
}

.footer a{
    color: #fff;
}

.container__footer {
    max-width: calc(1000px + 30px);
}

.socials_footer .socials__li {
    margin-right: 6px;
}


.socials_footer .socials__link {
    width: 32px;
    height: 32px;
    border: 2px solid #FFFFFF;
}

.pack__img{
    max-width: 190px;
    margin-left: auto;
    margin-right: auto;
}

.footer__cols {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}

.footer__col {
    max-width: 166px;
}

.footer__col-title {
    display: block;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    cursor: 
}

.footer__li {
    margin-bottom: 30px;
}

.footer-bot {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-bot__ul {
    display: flex;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 12px;
}

.footer__copyright {
    font-size: 10px;
    line-height: 14px;
}

a.footer__copyright{
    text-decoration: underline;
}

.footer-bot__ul li {
    margin-right: 32px;
}

.footer-logo {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 0;
    right: 0;
    margin: auto;
    top: -80px;
}

.grid-actrile.grid-actrile--nohover:hover,
.grid-actrile.grid-actrile--nohover:hover img {
    box-shadow: none;
}

.grid-actrile__logo {
    margin-bottom: 22px;
}

.grid-actrile__img {
    max-width: 280px;
    margin-bottom: 48px;
}

.ml20 {
    margin-left: 20px;
}

.grid-actrile__img--text {
    max-width: 252px;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {

    .header {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        padding-bottom: 48px;
    }

    .header .socials {
        display: none;
    }

    .logo {
        margin: 0;
        width: 122px;
        position: static;
    }


    .footer__ul {
        display: none;
    }

    .mob_hidden {
        display: none;
    }

    .footer__cols {
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
    }

    .footer-logo {
        width: 120px;
        height: 120px;
        top: -60px;
    }

    .footer-bot__ul,
    .footer__copyright {
        display: none;
    }

    .footer {
        padding-top: 66px;
        background: url('../img/shapes_pattern/footer_bg_desktop.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .product-slider-init .slide__inner {
        height: 64px;
    }

    .product-slider {
        margin-bottom: 64px;
    }

    .grid-actrilces__row {
        flex-direction: column;
    }

    .grid-actrile__desc {
        font-size: 24px;
        line-height: 30px;
    }

    .grid-actrile {
        margin-right: 0;
    }

    .a1 {
        width: 100%;
    }

    .grid_actrilces_col_fix,
    .a6 {
        position: static;
    }

    .grid-actrile__btn {
        margin-top: 30px;
    }

    .a6 {
        padding-top: 40px;
        padding-bottom: 52px;
        background: url('../img/shapes_pattern/a6-mob.png');
            background-size: 100% 100%;
    }

    .grid-actrile__logo{
        max-width: 90px;
    }

    .grid-actrile__img{
        margin-bottom: 20px;
    }

    
}

/* sales */

.sales__title-wrap {
    text-align: center;
}

.sales__title {
    position: relative;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 21px;
    padding-right: 62px;
    padding-left: 62px;
    background: #CD1722;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    margin-bottom: 48px;
}

.sales__title:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 35px 25px 35px;
    border-color: transparent transparent #fff transparent;
    left: -23px;
    top: 22px;
    transform: rotate(90deg);
}

.sales__title::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 35px 25px 35px;
    border-color: transparent transparent #fff transparent;
    right: -23px;
    top: 22px;
    transform: rotate(-90deg);
}

.sale {
    height: 428px;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    margin-bottom: 32px;
}

.sale__footer {
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 36px;
    padding-left: 58px;
    background: #CD1722;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    display: flex;

}

.sale__duration {
    font-size: 18px;
    line-height: 24px;
    color: #FFD74B;
}

.sale__duration span {
    font-weight: bold;
}

.btn-action {
    position: relative;
    padding-right: 38px;
    right: 28px;
    display: block;
}

.btn-action::after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    right: 28px;
    top: 16px;
    background: url('../img/btn-arrow.svg') no-repeat center;
    transition: all .3s;
}

.btn-action:hover::after {
    right: 24px;
}

.sale__action {
    position: absolute;
}

@media (max-width: 1000px) {

    .sales__title {
        color: #CD1722;
        line-height: 36px;
        background: none;
        font-size: 24px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}


/* product1 */

.header_stick_top {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.hero {

    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: calc(152px);
    position: relative;
    padding-left: 40px;
    z-index: 0;
}

.hero__inner {
    position: absolute;
    top: 30%;
    max-width: 360px;
    color: #CD1722;
}

.hero__name {
    font-size: 16px;
    line-height: 20px;
}

.hero__title {
    font-size: 48px;
    line-height: 62px;
    text-transform: uppercase;

    font-family: 'Intro Head H Base';
    font-style: normal;
    font-weight: normal;

    margin-bottom: 16px;
}

.hero__desc {
    font-size: 16px;
    line-height: 22px;
}

.hero {
    margin-bottom: 48px;
}

.trad {
    margin-bottom: 110px;
}

.coockie-m {
    margin-right: 80px;
}

.trad__inner {
    text-align: center;
    max-width: 600px
}

.trad__img {
    margin-bottom: 48px;
    max-width: 360px;
}

.trad__title {
    margin-bottom: 18px;
    text-align: center;
    line-height: 32px;
}

.trad__desc {
    font-size: 18px;
    line-height: 23px;
    color: #535353;
    margin: auto;
    margin-bottom: 40px;
    max-width: 480px;
    margin-top: 0;
}

.socials_inst{
    display: none;
}

.labels {
    display: flex;
    justify-content: center;
}

.label {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 100px;
    background: #000;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 16px;
    background: #D30707;
    color: #fff;
}

.label:last-child {
    margin-right: 0;
}

.label.blue {
    background: #4976B6;
}

.label.pink{
     background: #D10E58;
}

.label.purple {
    background: #48318A;
}

.label.lightbrown {
    background: #CEA371;
}

.label.laim {
    background: #99C04C;
}

.label.dark {
    background: #381D19;
}

.trad__pack-img {
    margin-bottom: 32px;
    max-width: 318px;
    margin-left: auto;
    margin-right: auto;
}

.por {
    position: relative;
}

.trad__layout {
    display: flex;
    justify-content: center;
}

.trad__inner {
    margin-right: 180px;
    width: 100%;
}

.trad-mark {
    background: url('../img/shapes_pattern/product1.png') center no-repeat;
    background-size: 101%;
    position: relative;
    top: -68px;
    margin-right: 100px;
    text-align: center;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 730px;
        padding-bottom: 130px;

}


.trad-mark::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 18px;
    border-color: transparent transparent #7B0B12 transparent;
    left: -18px;
    top: 0;
}

.trad-mark::after {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 430px;
    height: 0;
    border-style: solid;
    border-width: 0 215px 100px 215px;
    border-color: transparent transparent #fff transparent;
    bottom: -1px;
}

.trad-mark__title {
    font-family: 'Intro Head H Base';
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 58px;
    max-width: 284px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.trad-mark__desc {
    max-width: 284px;
    font-size: 27px;
    line-height: 38px;
    margin-bottom: 48px;
}

.trad-mark__btn {
    margin-top: 48px;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 140px;
}

.showcase__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-right: 1px solid rgba(205, 23, 34, 0.5);
    margin-bottom: 36px;
    margin-top: 36px;
    position: relative;
}

/* .showcase__item:after{
    //border-right: none;
} */
.showcase__item:nth-child(2n)::after {
    content: '';
    position: absolute;
    width: 190px;
    height: 1px;
    background: rgba(205, 23, 34, 0.5);
    bottom: -36px;
    left: calc(0px - 95px);
}

.showcase__item:last-child::after {
    display: none;
}

/* .showcase__item:nth-child(2n)::after {
    display: none;
} */






.showcase__item .trad__desc {
    text-align: center;
}

.label.green {
    background: #227639;
}

.label.brown {
    background: #693E2F;
}

.accordion__head {
    padding-bottom: 72px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(205, 23, 34, 0.5);
    margin-bottom: 72px;
}

.accordion__title {
    font-size: 48px;
    line-height: 62px;
    cursor: pointer;
    user-select: none;
}

.accordion__title::before {
    content: '+';
    margin-right: 35px;
}

.accordion__item.active .accordion__title::before {
    content: '-';
}

.accordion__item.active .accordion__head {
    border-bottom: none;
    margin-bottom: 0;
}

.accordion__more {
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.5);
    display: none;
}

.accordion__more:hover {
    color: rgba(0, 0, 0, 0.7);
}

.accordion__item.active .accordion__more {
    border-bottom: none;
    margin-bottom: 0;
    display: block;
}

.pack {
    width: 25%;
    margin-bottom: 72px;
}

.pack__img {
    margin-bottom: 100px;
        height: 115px;
        position: relative;
}

.pack__img img {
        display: block;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
}

.pack__name {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #CD1722;
    font-weight: normal;
    margin: auto;
    margin-bottom: 16px;
    max-width: 250px;
}

.accordion__body {
    border-bottom: 1px solid rgba(205, 23, 34, 0.5);
    margin-bottom: 72px;
    display: none;
    flex-wrap: wrap;
}

.accordion__item.active .accordion__body {
    display: flex;
}

.hero::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.46) 0%, rgba(255, 255, 255, 0) 100%);
}

.sw1 {
    margin-right: 60px;
}

.sw2 {
    margin-left: 60px;
}

.sw3 {
    max-width: 318px;
}

.sw4 {
    margin-left: 40px;
}

.sw5 {
    max-width: 436px;
}

@media (max-width: 1000px) {

    .sw1 {
        margin-right: 0px;
    }

    .sw2 {
        margin-left: 0px;
    }

    .sw3 {
        max-width: 318px;
    }

    .sw4 {
        margin-left: 40px;
    }

    .sw5 {
        max-width: 436px;
    }

    .hero {
        padding-left: 0;
    }

    .hero::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.7);
    }

    .hero__inner {
        z-index: 1;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
    }

    .showcase {
        flex-direction: column;
        margin-bottom: 90px;
    }

    .footer__col-title{
        text-align: center;
        line-height: 24px
    }

    .mob_show{
        display: block;
    }

    .showcase__item {
        width: 100%;

    }

    .showcase__item:last-child {
        margin-bottom: 0;
    }

    .showcase__item::after,
    .showcase__item:nth-child(2n)::after {
        content: '';
        position: absolute;
        width: 190px;
        height: 1px;
        background: rgba(205, 23, 34, 0.5);
        bottom: -36px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .trad__img {
        max-width: 235px;
    }

    .accordion__title {
        font-size: 36px;
        line-height: 46px;
    }

    .accordion__head {
        margin-bottom: 72px;
    }

    .accordion__more {
        display: none;
    }

    .accordion__body .pack {
        width: 100%;
    }

    .trad-mark{
            background: url(../img/shapes_pattern/product1-mob.png) center no-repeat;
                padding-bottom: 70px;
                background-size: contain;
    }
}

.page-404 {
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    color: #CD1722;
}

.page-404__img {
    margin-bottom: 74px;
}


.page-404__title {
    font-size: 60px;
    line-height: 76px;
}

.page-404__desc {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 72px;
}

.btn-transparent {
    border: 1px solid #CD1722;

    padding-left: 24px;
    padding-right: 24px;
}



@media (max-width: 1000px) {
    .page-404 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .page-404__img {
        margin-bottom: 58px;
        max-width: 300px;
        margin: auto;
    }


    .page-404__title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 41px;
    }

    .page-404__desc {
        margin: auto;
        margin-bottom: 46px;
        max-width: 330px;
    }

    .main-slider-init {
        max-width: 360px;
        margin: auto;
    }

    .main-slide {
        flex-direction: column;
        height: auto;
        align-items: center;
        text-align: center;
    }

    .main-slide__left {
        width: 100%;
        padding-right: 40px;
        padding-left: 40px;
        z-index: 1; 
        margin-top: -10px;
        background: url('../img/shapes_pattern/pattern_banner_bg_mobile.svg')
    }

    .main-slide__right {
        width: 100%;
        overflow: hidden;
        order: -1;
    }

    .main-slide__title {
        font-size: 42px;
        line-height: 46px;
    }

    .main-slide__desc .desc {
        font-size: 18px;
        line-height: 23px;
    }

    .main-slide__btn {
        margin: auto;
    }

    .grid-actrile {
        max-width: 360px;
        width: 100%;
    }

    .grid-actrilces__row {
        align-items: center;
    }

    .grid-actrile__text {}

    .main-slider-init .slick-dots button {
        background: rgba(211, 7, 7, 0.3);
    }

    .main-slider-init .slick-dots .slick-active button {
        background: #D30707;
    }

    .main-slider-init .slick-dots {
        bottom: -32px;
    }

    .grid {
        padding-top: 56px;
    }
}


.menu {
    position: absolute;
    opacity: 0;
    display: flex;
    right: -200%;
    transition: .4s all;
}

.menu.active {
    opacity: 1;
    position: absolute;
    right: 100px;
    display: flex;
    transition: .3s all;
}

.logo {
    transition: .3s all;
}

.logo.active {
    /*right: 306px;*/
    right: 0;
    transition: .3s all;
}

.menu__ul {
    display: flex;
}

.menu__link {
    font-size: 18px;
    line-height: 23px;
    color: #CD1722;
    text-transform: uppercase;

}

.menu__ll {
    margin-right: 18px;
}

.menu__li:last-child {
    margin-right: 0;
}

.menu__link:hover {
    color: #CD1722;
    text-decoration: underline;
}

.close {
    display: none;
}

.logo_mob{
    display: none;
}

/* youtube lazyload */
.wrapper {
    max-width: 360px;
}
.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.82%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 74px;
    height: 74px;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    border-radius: 50px;
    border: 5px solid #FFD74B;
}
.youtube .play-button:before {
    content: "";
    background: url(../img/pl.svg) center no-repeat;
    background-size: cover;
    width: 28px;
    height: 34px;
    top: 0;
    left: 6px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


/* .grid-actrile:hover img{
    box-shadow: none;
} */

@media (max-width: 1350px) {

    .logo.active {
        right: auto;
        left: 190px;
        width: 150px;
    }

    .menu__link {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    .logo_mob{
        display: block;
    }
    .logo {
        width: 120px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }

    .logo.active {
        width: 120px;
    }

    .burger {
        right: 0;
        left: auto;
    }

    .header__inner {
        justify-content: flex-end;
    }

    .menu {
        position: fixed;
    }

    .menu.active {
        position: fixed;
        z-index: 999;
        width: 100%;
        right: auto;
        left: 0;
        top: 0;
        height: 100%;
        background: #CD1722;
        display: flex;
        justify-content: center;
        transition: .3s all;
    }

    .menu__ul {
        display: flex;
        flex-direction: column;
            height: 260px;
            top: 130px;
            position: absolute;
    }

    .menu__ll{
        margin-right: 0;
        margin-bottom: 72px;
        text-align: center;
    }

    .menu__link{
        font-size: 15px;
        color: #fff;
        text-align: center;
    }

    .menu__link:hover{
        color: #fff;
    }

    .burger{
        height: 34px;
    }

    .burger.active{
        z-index: 9999;
    }

    .burger.active span{
        background: #fff;
    }

    .burger__top,
    .burger__bot {
        height: 20px;
    }

    .header{
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .mob_scroll_false{
        overflow: hidden;
    }

    .logo.active{
        display: none;
    }

    .logo.active.logo_mob {
        display: block;
            left: 0;
            right: 0;
            top: 16px;
    }

    .close{
        position: absolute;
        width: 32px;
        height: 32px;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        margin: auto;
        bottom: 48px;
        cursor: pointer;
    }

    .trad__layout{
        flex-direction: column;
    }

    .trad__img{
        margin: auto;
        margin-bottom: 48px;
    }

    .trad-mark{
         top: 0;
         margin: auto;
         height: 584px;
    }

    .trad-mark::before{
        display: none;
    }

    

    .trad__inner{
        margin-bottom: 72px;
        max-width: 100%;
    }

    .footer__li{
        text-align: center;
    }

    .mob_show.footer__add {
        display: block !important;
        margin-bottom: 20px;
    }

    .footer-bot-left>div{
        margin-right: 0;
    }
}

.footer__ul.mob_show .footer__add{
    display: none;
}

.hidden{
    display: none !important;
}

@media (max-width: 430px) {
    .trad-mark::after {
        border-width: 0px 200px 100px 200px;
    }
}

@media (max-width: 410px) {
    .trad-mark::after {
        border-width: 0px 185px 100px 185px;
    }
}

@media (max-width: 375px) {
    .trad-mark::after {
        border-width: 0 175px 100px 175px;
    }
}

@media (max-width: 370px) {
    .trad-mark::after {
        border-width: 0 170px 100px 170px;
    }
}

@media (max-width: 350px) {
    .trad-mark::after {
        border-width: 0 155px 100px 155px;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .content{
        flex: auto;
    }

    .intro__logo{
        left: 0;
        right: 0;
    }

    .intro__logo img{
        margin: auto;
        display: block;
    }

    .intro__btn{
        left: 0;
        right: 0;
        margin: auto;
        width: 200px;
        display: block;
    }
    .header__inner{
        height: 100px;
    }

    .header__inner .logo{
        top: 0;
    }

    .grid-actrile__text{
        max-width: 320px;
    }

    .main-slide__title{
        max-width: 400px;
    }

    .showcase__item{
        display: block;
    }

    .trad__img{
        margin-left: auto;
        margin-right: auto;
    }

    .main-slide__left{
        background: url('../img/ie11/ms.png') repeat;
    }

    .a6{
        background: url('../img/ie11/gr.png');
    }

    .footer{
        background:url('../img/ie11/fo.png') repeat;
        background-size: cover;
    }

    .trad-mark{
        background: url('../img/ie11/fl.png') center no-repeat;
    }

    .trad-mark::after{
        content: none;
    }

}

.tooltip{
    position: relative;
}

.tooltip__text{
    font-style: normal;
    font-weight: bold;
    color: #D30707;
    font-size: 21px;
    cursor: pointer;position: relative;
}

.toooltip__inner{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20px);
    min-width: 250px;
    padding: 14px;
    color: white;
    font-size: 16px;
    background: rgba(0, 0, 0, .7);
    border-radius: 10px;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
}

.toooltip__inner::after{
    content: '';
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent rgba(0, 0, 0, .7) transparent;
    position: absolute;
}

.tooltip:hover .toooltip__inner {
    visibility: visible;
    transform: translate(-50%, 0px);
    opacity: 1;
}

