@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Bold.eot');
    src: url('Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Bold.woff2') format('woff2'),
        url('Geometria-Bold.woff') format('woff'),
        url('Geometria-Bold.ttf') format('truetype'),
        url('Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Regular.eot');
    src: url('Geometria-Regular.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Regular.woff2') format('woff2'),
        url('Geometria-Regular.woff') format('woff'),
        url('Geometria-Regular.ttf') format('truetype'),
        url('Geometria-Regular.svg#Geometria-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Head H Base';
    src: url('IntroHeadH-Base.eot');
    src: url('IntroHeadH-Base.eot?#iefix') format('embedded-opentype'),
        url('IntroHeadH-Base.woff2') format('woff2'),
        url('IntroHeadH-Base.woff') format('woff'),
        url('IntroHeadH-Base.ttf') format('truetype'),
        url('IntroHeadH-Base.svg#IntroHeadH-Base') format('svg');
    font-weight: normal;
    font-style: normal;
}

